python-dotenv
langchain-openai
langchain-google-genai
numpy
pandas
seaborn
matplotlib
shap
lime
missingno
scikit-learn
tensorflow
langchain
langchain-core
huggingface_hub
sentence-transformers
neo4j
tf-keras
hf_xet
openai
google-genai
